$blue: #456cea;
$lightBlue: #537bfc;
$purple: #7a6cea;
$lightPurple: #8c7ff3;
$red: #f36d5b;
$lightRed: #fc8474;
$black: #131317;
$lightBlack: #2e2e36;
$grey: #6a6c73;
$lightGrey: #7f818a;
$white: #dcdee6;
$lightWhite: #f5f5f7;
