.header {
  align-items: baseline;
  display: flex;
  left: 0;
  padding: 1.5em 2em 2em 2em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.header__logo {
  color: $lightWhite;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1;
  .dot {
    color: #456CEB;
  }
}

.header__search-icon {
  cursor: pointer;
  height: 15px;
  position: fixed;
  right: 2em;
  top: 1.5em;
  width: 25px;
  &:before {
    background-color: $lightWhite;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .25s;
    width: 100%;
  }
  &:after {
    background-color: $lightWhite;
    bottom: 0;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    transition: all .25s;
    width: 50%;
  }
  &:hover {
    &:before {
      background-color: $blue;
    }
    &:after {
      background-color: $blue;
      width: 100%;
    }
  }
}
