.post {
  font-size: .9em;
  margin: 0 auto;
  max-width: 640px;
  padding: 100px 0;
  img {
    box-shadow: 10px 10px 50px $lightWhite;
    margin: 50px -15%;
    max-width: 130%;
    width: 130%;
  }
}
