.container--snippets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  padding: 250px 0;
}

.snippet {
  background-color: $lightWhite;
  margin-bottom: 2em;
  padding: 1.5em;
  width: 31%;
  &:nth-child(4) {
    background-color: $black;
  }
}
