.header {
  align-items: baseline;
  display: flex;
  left: 0;
  //padding: 1.5em 2em 2em 2em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  &.header--scrolled {
    .vg {
      color: $black;
    }
    .wt {
      width: 0;
    }
  }
}

.header__logo {
  color: $lightWhite;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  left: 2rem;
  pointer-events: none;
  position: fixed;
  top: 30px;
  .vg {
    font-weight: 800;
    letter-spacing: -3px;
  }
  .wt {
    font-weight: 700;
    letter-spacing: -2px;
    overflow-x: hidden;
    transition: width .15s;
    white-space: nowrap;
    width: 100%;
    will-change: width;
  }
  .dot {
    color: #456CEB;
    font-weight: 800;
    margin-left: 5px;
  }
}

.header__search-icon {
  cursor: pointer;
  height: 15px;
  position: fixed;
  right: 2rem;
  top: 35px;
  user-select: none;
  width: 25px;
  z-index: 5;
  &:before {
    background-color: $lightWhite;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .25s;
    width: 100%;
  }
  &:after {
    background-color: $lightWhite;
    bottom: 0;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    transition: all .25s;
    width: 50%;
  }
  &:hover {
    &:before {
      background-color: $blue;
    }
    &:after {
      background-color: $blue;
      width: 100%;
    }
  }
  &.is-showing {
    &:before {
      background-color: $blue;
    }
    &:after {
      background-color: $blue;
    }
    &:hover {
      &:before {
        background-color: $black;
      }
      &:after {
        background-color: $black;
      }
    }
  }
}

.header__search {
  background-color: yellow;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all .25s;
  visibility: hidden;
  &.is-showing {
    opacity: 1;
    visibility: visible;
  }
  .container {
  }
}

.search__top {
  align-items: flex-end;
  display: flex;
  height: 40vh;
  padding: 2.5em 5em 2.1em 5em;
}

.search__bottom {
  padding: 0 5em;
}

.search__results {

}

.search__result {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.search {
  input[type="text"] {
    -webkit-appearance: none;
    background: none;
    border: none;
    box-shadow: none;
    color: $blue;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 800;
    letter-spacing: -4px;
    line-height: 1;
    padding: 0;
    width: 100%;
  }
}

::-webkit-input-placeholder {
  color: $blue;
}

::-moz-placeholder {
  color: $blue;
}

:-ms-input-placeholder {
  color: $blue;
}

:-moz-placeholder {
  color: $blue;
}
