---
layout: default
image: 'https://source.unsplash.com/daily'
---
<section class="hero">
    <div class="container">
        <h1 class="hero__title">{{ page.title }}</h1>
    </div>
</section>
<section id="content">
    <div class="container">
        <article class="snippet">{{ content }}</article>
        {% if page.tags.size != 0 %}
        <div class="tags">
            <div class="tags__title">TAGS</div>
            <ul class="tags__list">
                {% for tag in page.tags %}
                <li>
                    <span>#</span>
                    <a data-tag="{{ tag }}">{{ tag }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</section>
